<template name="signout">
	<div class="modal fade">
        <div class="modal-dialog" id="signoutModal" name="signoutModal" style="width: 400px; max-height: 10px;">
            <div class="modal-content" style="margin-right: -50px;">
                <div style="margin-left: 100px;margin-right: 100px;">  
                <div class="modal-header">
                    <h4 class="modal-title">LOGOUT</h4>
                </div>
                </div>
               <div style="margin-left: 20px;margin-right: 20px;"> 
                <div class="modal-body">

                    <h3><p>You are about to logout, do you really want to logout?</p></h3>
                </div>
                </div> 
                <div style="margin-left: 100px;margin-right: 100px; margin-top: -30px;"> 
                <div class="modal-footer" >
                    <a href="#" class="button special" name="signoutbutton" id="signoutbutton">Sign Out</a>
                    <button type="button" class="button" data-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>
    </div>
</template>