<template name="student">
	{{#if currentUser}}
  {{#if isInRole 'admin,super-admin' 'school-admin'}}
  <div class="row uniform">
    <div class="12u$">
      <!-- search -->
  <div>

     <!-- Easy Search -->
    <div class="row" style="margin-left: -50px; margin-top: -50px; margin-bottom: 20px;">
    
      <div class="black searchbar col-md-10">{{> EasySearch.Input index=index attributes=inputAttributes }}</div>
      <div class="2u 12u$(small)">
        {{#unless uploading}}
        <input type="file" id="uploadCSV"  name="uploadCSV" style="display:none;" />
        <div class="select-wrapper">
          <select name="performaction" id="performaction">
            <option value="">- Actions -</option>
            <option value="UploadStudents">Upload Students</option>
            <option value="InviteStudents">Invite Students</option>
            <option value="AddStudentModule">Add To Module</option>
            <option value="AddStudentsSchool">Add To School</option>
            <option value="DeleteStudents">Batch Delete</option>
           </select>
        </div>
        {{else}}
        <p><i class="fa fa-spin fa-refresh"></i> Uploading files...</p>
      {{/unless}}
      </div>
    </div>
  <!-- search -->
    <!-- Easy Search -->
    {{#EasySearch.IfInputEmpty index=index }}
     <!-- <div class="padded examples black">For example "Abraham Jide Chukwudi"</div> -->
    {{else}}
      {{#if resultCount}}
        <div class="padded count-results black">{{resultCount}} results found.</div>
      {{/if}}
    {{/EasySearch.IfInputEmpty}}

    {{#EasySearch.IfSearching index=index }}
      <div>Searching</div>
    {{/EasySearch.IfSearching}}
    <div class="3u$ 12u$(small)">
        <input type="checkbox" id="ckbCheckAll" name="ckbCheckAll"><label for="ckbCheckAll">Select All</label>
      </div>
    <ol class="leatherboard">
      
      {{#EasySearch.Each index=index }}
        {{> UserStudents}}
      {{/EasySearch.Each}}  
    </ol>

    {{#EasySearch.IfNoResults index=index }}
      <div class="padded no-results black">No results found</div>
    {{else}}
    {{/EasySearch.IfNoResults}}

    {{> EasySearch.Pagination index=index maxPages=20 }}
    {{! > EasySearch.LoadMore index=index}}

    {{#if showMore}}
      {{> EasySearch.Input name="mini-index" index=index attributes=inputAttributes }}
      <ul>
        {{#EasySearch.Each name="mini-index" index=index}}
          <li>{{firstname}}</li>
        {{/EasySearch.Each}}
      </ul>

    {{/if}}
    <!-- Easy Search -->
  <!-- End search -->
  </div>
  </div>
  </div>
  {{else}}
  {{accessDenied}}
{{/if}} 
  {{else}}
  {{notloggedIn}}
{{/if}}
</template>

<template name="UserStudents">
{{#if currentUser}}
  {{#if Template.subscriptionsReady}}
    <div class="container" style="width: 100%; margin-left: -60px;">
      <ul class="list-group">
            <li class="list-group-item" style="font-size: 12px; width: 110%; margin-left: 10px; max-height: 40px; margin-bottom: -15px;">
              <input type="hidden" value="{{_id}}" name="studentId">
                <input type="checkbox" id="{{_id}}" name="eachstudents" value="{{_id}}" class="checkBoxClass">
                <label for="{{_id}}">
                  {{#if imagepath }}
                    <a class="pull-left" href="/student/{{slug}}" target="_parent">
                      <img alt="image" class="img-responsive" src="{{imagepath}}" style="width: 20px; height: 20px; object-fit: contain;"></a>
                  {{else}}
                      <a class="pull-left" href="/student/{{slug}}" target="_parent">
                      <img alt="image" class="img-responsive" src="/images/user_male_icon.png" style="width: 20px; height: 20px; object-fit: contain; margin-right: 5px;"></a>
                  {{/if}}

                  {{#if equals status.active "1" }}<div class="circle active"></div> {{else}}<div class="circle not-active"></div>{{/if}}<a href="/student/{{slug}}" target="_parent"><strong>{{firstname}} {{lastname}}</strong></a> | <em>{{useremail}}</em> | <em>{{mobile}}</em> </label><i class="fa fa-trash fa-2x delete" aria-hidden="true"></i>

            </li>
      </ul>
    </div>
  {{/if}}
{{/if}}
<script type="text/javascript">
  $(document).ready(function () {
    $("#ckbCheckAll").click(function () {
        $(".checkBoxClass").prop('checked', $(this).prop('checked'));
    });
    
    $(".checkBoxClass").change(function(){
        if (!$(this).prop("checked")){
            $("#ckbCheckAll").prop("checked",false);
        }
    });
});
</script>
</template>