<template name="userview">
	{{#if currentUser}}
		 {{#if isInRole 'admin,super-admin' 'school-admin'}}
		<div class="row uniform" style="margin-top: -70px;">
			<div class="6u 12u$(xsmall)">
				<p><h3><strong>My Profile Details</strong></h3></p>
			</div>
			<div class="6u$ 12u$(xsmall)">
				<ul class="actions">
					<!--<li><input type="submit" name="updatedetails" id="updatedetails" value="UPDATE RECORD" class="special" /></li>-->
					<li><input type="submit" name="changepassword" id="changepassword" value="Change Password" /></li>
				</ul>
			</div>
			<div class="1u 12u$(xsmall)">
				Username:
			</div>
			<div class="5u$ 12u$(xsmall)">
				<h2>{{currentUser.username}}</h2>
			</div>
			<div class="1u 12u$(xsmall)">
				Email: 
			</div>
			<div class="5u$ 12u$(xsmall)">
				<h2>{{userEmail currentUser}}</h2>
			</div>
			<hr>
			{{#if Template.subscriptionsReady }}
			{{#with SingleUser}}
			<div class="table-wrapper" style="width: 100%; margin-top: -50px;">
				<table>
					<thead>
						<tr>
							<th>Name</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>First Name</td>
							<td><strong>{{userFirstname}}</strong></td>
							
						</tr>
						<tr>
							<td>Last Name</td>
							<td><strong>{{userlastname}}</strong></td>
						</tr>
						<tr>
							<td>Mobile Number</td>
							<td><strong>{{usermobile}}</strong></td>
						</tr>
						<tr>
							<td>Address</td>
							<td><strong>{{usernum_street}}, {{addgeocomplete}}</strong></td>
						</tr>
						<tr>
							<td>Facebook</td>
							<td><strong><a href="{{userfacebook}}">{{userfacebook}}</a></strong></td>
						</tr>
					</tbody>
				</table>
			</div>
			{{/with}}
			{{else}}
				<p>Loading...</p>
			{{/if}}
		</div>
	{{else}}
	{{accessDenied}}
	{{/if}}
	{{else}}
  {{notloggedIn}}
	{{/if}}
</template>