<template name="banner">
	<!-- Banner -->
	<section id="banner">
		<div class="content" style="margin-top: -40px;">
			<header>
				<p><strong>A highly functional portal for schools to collaborate</strong></p>
			</header>
			<p>Our mission is to bring your school closer than ever. This platform enables students-teacher to always have a smooth classroom experience while online. To schools, it enables them to bring viable courses to the mainstream where it could better reach a larger community. It comes with no fee. It is absolutely free.</p>
			<ul class="actions">
				{{#animate type="rollIn" delay="200"}}
				<li><a href="#" class="button big">Learn More</a></li>
				{{/animate}}
			</ul>
		</div>
		<span class="image object" style="margin-top: -40px;">
			{{#animate type="rollIn" delay="200"}}
			<img src="/images/pic10.jpg" alt="" />
			{{/animate}}
		</span>
	</section>
</template>