<template name="middle">
	
		<header class="major">
			<h2>How it works</h2>
		</header>
		<div class="features">
			<article>
				<span class="icon fa-diamond"></span>
				<div class="content">
					<h3>Create School</h3>
					<p>Create your offline school by adding its details after signing up. If you basically want to run an online school, sign up and create your school.</p>
				</div>
			</article>
			<article>
				<span class="icon fa-paper-plane"></span>
				<div class="content">
					<h3>Create Courses</h3>
					<p>Create a standard course and add its details. Each courses created can be added to modules for grouping related courses. It can be published or not.</p>
				</div>
			</article>
			<article>
				<span class="icon fa-rocket"></span>
				<div class="content">
					<h3>Create Modules</h3>
					<p>Create modules to group related courses. This serves 2 purposes: grouping and serves as a class, a standard class. An example is Module name: JSS-1.</p>
				</div>
			</article>
			<article>
				<span class="icon fa-signal"></span>
				<div class="content">
					<h3>Add Students</h3>
					<p>Compile your student list in an excel sheet and upload them. You could upload all students of a school at once, even if the records spans to thousands.</p>
				</div>
			</article>
		</div>

<!-- Section -->
	<!--<section>
		<header class="major">
			<h2>Ipsum sed dolor</h2>
		</header>
		<div class="posts">
			<article>
				<a href="#" class="image"><img src="/images/pic01.jpg" alt="" /></a>
				<h3>Interdum aenean</h3>
				<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
				<ul class="actions">
					<li><a href="#" class="button">More</a></li>
				</ul>
			</article>
			<article>
				<a href="#" class="image"><img src="/images/pic02.jpg" alt="" /></a>
				<h3>Nulla amet dolore</h3>
				<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
				<ul class="actions">
					<li><a href="#" class="button">More</a></li>
				</ul>
			</article>
			<article>
				<a href="#" class="image"><img src="/images/pic03.jpg" alt="" /></a>
				<h3>Tempus ullamcorper</h3>
				<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
				<ul class="actions">
					<li><a href="#" class="button">More</a></li>
				</ul>
			</article>
			<article>
				<a href="#" class="image"><img src="/images/pic04.jpg" alt="" /></a>
				<h3>Sed etiam facilis</h3>
				<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
				<ul class="actions">
					<li><a href="#" class="button">More</a></li>
				</ul>
			</article>
			<article>
				<a href="#" class="image"><img src="/images/pic05.jpg" alt="" /></a>
				<h3>Feugiat lorem aenean</h3>
				<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
				<ul class="actions">
					<li><a href="#" class="button">More</a></li>
				</ul>
			</article>
			<article>
				<a href="#" class="image"><img src="/images/pic06.jpg" alt="" /></a>
				<h3>Amet varius aliquam</h3>
				<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
				<ul class="actions">
					<li><a href="#" class="button">More</a></li>
				</ul>
			</article>
		</div>
	</section>-->
</template>