<template name="changepassword">

	<div class="modal fade" >
        <div class="modal-dialog" id="signupModal" name="signupModal">

            <div class="modal-content">
                <div style="margin-left: 100px;margin-right: 100px;">  
                <div class="modal-header">
                    <h4 class="modal-title">CHANGE PASSWORD</h4>
                </div>
                </div>
                <form name="passwordchange" id="passwordchange" class="passwordchange">
                <div style="margin-left: 100px;margin-right: 100px;">  
                <div class="modal-body">
                    <div class="form-group">
                <input type="password" name="oldpassword" id="oldpassword" class="form-control formz" minlength="5" maxlength="15" placeholder="Enter Old Password" style="border-style: solid;border-color: #ff6666; border-width: 1px;" >
                    </div>
                    <div class="form-group">
                <input type="password" name="newpassword" id="newpassword" class="form-control formz" placeholder="Enter New Password" style="border-style: solid;border-color: #ff6666; border-width: 1px;">
                    </div>
                    <div class="form-group">
            <input type="password" name="cpassword" id="cpassword" class="form-control formz" minlength="6" maxlength="30"  placeholder="Confirm password" style="border-style: solid;border-color: #ff6666; border-width: 0.5px;">
                    </div>
                </div>
                </div>
                <div style="margin-left: 100px;margin-right: 100px;">  
                <div class="modal-footer" >
                    <button type="button" class="button changepass special" name="changepass" id="changepass">Change Password</button>
                    <button type="button" class="button" data-dismiss="modal">Close</button>
                </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</template>