<template name="forgotpassword">
    <div class="modal fade">
        <div class="modal-dialog" id="forgotModal" name="forgotModal">
            <div class="modal-content">
                <div style="margin-left: 100px;margin-right: 100px;">  
                <div class="modal-header">
                    <h4 class="modal-title">FORGOT PASSWORD</h4>
                </div>
                </div>
                <form name="forgotpassword" id="forgotpassword" class="forgotpassword">
                <div style="margin-left: 100px;margin-right: 100px;">  
                <div class="modal-body">
                
                    <div class="form-group">
                		<input type="email" name="email" id="email" class="form-control formz" placeholder="Enter email" style="border-style: solid;border-color: #ff6666; border-width: 1px;" required="true">
                    </div>  
                </div>
                </div>
                <div style="margin-left: 100px;margin-right: 100px;">  
                <div class="modal-footer" >
                    <button type="submit" class="special" >Forgot Password? <i class="fa fa-spinner" aria-hidden="true" style="display:none"></i></button>
                    <button type="button" class="button" data-dismiss="modal">Close</button>
                </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</template>